<%- include('../partials/header')%>



<form action="/pets/<%=pet._id%>?_method=PUT" method="POST">
   <label>Name:
      <input type="string" name="name" value="<%=pet.name%>">
    </label><br>

  <label>Species:
      <input type="string" name="species" value="<%=pet.species%>">
    </label><br>

    <label>Color
        <select name="color">
          <option value="<%=pet.color%>"><%=pet.color%></option>
          <option value="Brown">Brown</option>
          <option value="Black">Black</option>
          <option value="Grey">Grey</option>
          <option value="Spotted">Spotted</option>
          <option value="White">White</option>
          <option value="Brindle">Brindle</option>
          <option value="Multi">Multi</option>
        </select>
      </label><br>

    <label>Interests:
      <input type="string" name="interests" placeholder="Separated by comma" value="<%=pet.interests%>">
    </label><br>

    <label># of Eyes:
      <input type="number" name="eyeNo" value=<%=pet.eyeNo%>>
    </label><br>

    <label>Image URL:
      <input type="String" name="image" value="<%=pet.image%>">
    </label><br>


    <button type="submit">Update Pet Info</button>
</form>
<%- include('../partials/footer')%>