<%- include('../partials/header')%>
<img src=<%=pet.image%>>
<p>Name: <%=pet.name%></p>
<p>Species: <%=pet.species%></p>
<p>Color: <%=pet.color%></p>

<p>Interests:</p>
<ul>
<%pet.interests.forEach(i=>{%>
<li><%=i%></li>
<%})%>
</ul>
<p>Eyes: <%=pet.eyeNo%></p>


<form action="/pets/<%=pet._id%>">
    <button>KILL PET</button>
</form>

<%- include('../partials/footer')%>