<%- include('../partials/header')%>
<section class="show-page">
<img src=<%=pet.image%>>
<p>Name: <%=pet.name%></p>
<p>Species: <%=pet.species%></p>
<p>Color: <%=pet.color%></p>

<p>Interests:</p>
<ul>
<%pet.interests.forEach(i=>{%>
<li><%=i%></li>
<%})%>
</ul>
<p>Eyes: <%=pet.eyeNo%></p>
<p>Toys:</p>
<ul>
<%pet.toys.forEach(i=>{%>
<li><%=i.name%></li>
<%})%>
</ul>

<section class="show-buttons">
<form method="POST" action="/pets/<%=pet._id%>?_method=DELETE">
    <button class="welcome-button">ADOPT PET</button>
</form>

<form method="GET" action="/pets/edit/<%=pet._id%>?_method=GET">
    <button class="welcome-button">EDIT PET INFO</button>
</form>
</section>
</section>
<%- include('../partials/footer')%>

