<%- include('../partials/header')%>
<img src=<%=pet.image%>>
<p>Name: <%=pet.name%></p>
<p>Species: <%=pet.species%></p>
<p>Color: <%=pet.color%></p>

<p>Interests:</p>
<ul>
<%pet.interests.forEach(i=>{%>
<li><%=i%></li>
<%})%>
</ul>
<p>Eyes: <%=pet.eyeNo%></p>


<form method="POST" action="/pets/<%=pet._id%>?_method=DELETE">
    <button>KILL PET</button>
</form>

<form method="GET" action="/pets/edit/<%=pet._id%>?_method=GET">
    <button>EDIT PET INFO</button>
</form>


<%- include('../partials/footer')%>